/* Estilos genericos */
* {
  padding: 0;
  margin: 0;
  
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.pesado {
  font-weight: 300;
}

/* Header */

nav {
position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 1;
}

nav ul {
  display: flex;
  float: right;
  list-style: none;
  align-items: center;
}

nav ul li {
  padding: 15px;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

/* Hero */

.banner-principal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/banner5.jpg);
  height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-principal h1 {
  color: #fff;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

/* SVG hero wave */

.custom-shape-divider-bottom-1648959545 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648959545 svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 75px;
}

.custom-shape-divider-bottom-1648959545 .shape-fill {
  fill: #FFFFFF;
}
/* Imagenes laterales */

.imgLateral1 img{
  position: absolute;
  top: 90rem;
  left: -130px;
}


.imgLateral2 img{
  position: absolute;
  top: 112rem;
  right: -25px;
  width: 130px;
  height: auto;
  
  
}

/*Estilos dotted line */
.dottedLine{
background: url(../images/dottedline.svg) repeat-x left top;
background-size: contain;
width: 930px;
position: absolute;
left: calc(50% - 510px);
top: -40px;
height: 59px;
z-index: 1;
}

/* Cart */

.cart {
  position: fixed;
  top: 0;
  right: -400px;
  width: 360px;
  min-height: 100vh;
  padding:20px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);
  z-index: 1;
  display: block;
  transition: all 400ms;
}

.cart__title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.cart__close{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 1.2rem;
  color: black;

}

.producto {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  gap: 5px;
  margin: 15px 0px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(230, 230, 230);
}

.producto__imagen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.producto__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.producto__nombre {
  font-size: 0.8rem;
}

.producto__precio {
  font-size: 0.8rem;
}

.producto__cantidad{
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  padding: 14px 45 px;
  font-size: 16px;
  outline: none;
}

.producto__eliminar {
  color: rgb(191, 57, 57);
  cursor: pointer;
}

.trashIconSize{
  padding-top: 0;
  width: 20px;
  height: 20px;
}

.total {
  display: flex;
  justify-content: flex-end;
}

.total__title{
font-weight: 600;
font-size: 0.8rem;
text-transform: uppercase;
}

.total__price{
font-weight: 400;
font-size: 0.8rem;
}

.btn__buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  background-color: #a93012;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: #ebe6ff;
  height: 100px;
}

/* Bloque de filtros (Por categoria) */

.categorias__selector ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin-top: 20px;
}

.categorias__selector ul a {
  padding: 10px;
  text-decoration: none;
  color: rgb(59, 59, 59);
  font-weight: 300;
  height: 20px;
  width: 300px;
  margin: 0 auto;
}

/* Bloque de filtros (Search & ordenar por) */


.categorias__filtros{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 30px 0;
}
 
.container {
  position: relative;
  padding-right: 150px;
}

.container__searchIcon{
  position: absolute;
    top: 13px;
    left: 15px;
    z-index: 2;
}

.container__search {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  padding: 5px 45px;
  font-size: 16px;
  outline: none;
}

.container__search input:hover {
  border: 1px solid #fff;
  box-shadow: 0 1px 3px 3px #e7e7e7e7;
}

.container__desplegable select{
  width: 160px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
 padding-left: 5px;
  font-size: 16px;
  outline: none;
}

/* Categoría postres y tortas(Productos) */

.categorias {
  margin: 5% 0% 10% 0;
}

.categoria__container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 50px 0;

}

.categoria__titulo {
  text-align: center;
  font-size: 1.5rem;
  color: #2e2526;
  font-size: 2rem;
}

.categoria__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 25px;

}

.categoria__tarjeta {
  width: 250px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);
}

.categoria__tarjeta img {
  width: 250px;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.categoria__tarjeta h3 {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 20px 10px 10px 10px;
  text-align: center;
  color: #9b9697;
  
}

.categoria__tarjeta p {
  font-size: 0.9rem;
  padding: 10px;
  color: #2e2526;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.categoria__breadcrumb{
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin-top: 50px;
}

.categoria__breadcrumb li a {
  padding: 10px;
  text-decoration: none;
  color: #9b9697;
  font-weight: 300;
  height: 20px;
  width: 300px;
  margin: 0 auto;
}

.categoria__border {
  border: 2px solid #9868ce;
  border-radius: 47%;
  padding: 2px;
}

/* Categoría antojos (Brownes, cookiebar y muffins) */

.container__antojos {
  margin-top: 50px ;
}

.antojos__titulo {
  margin-bottom: 35px;
}

.categoria__tarjeta__antojos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 290px;
  background-color: #ddc7ff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);
}

.categoria__tarjeta__antojos img {
width: 150px;
height: auto;
padding-bottom: 10px;
}

.categoria__tarjeta__antojos h3 {
  font-size: 0.8rem;
  margin-top: 10px;
  }

  .categoria__tarjeta__antojos p {
    font-size: 0.8rem;
  }

/* Seccion nosotros */

.nosotros__flex {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

.nosotros__beneficios {
  width: 250px;
  height: auto;
  margin: 10px;
}

.nosotros__titulo {
  padding: 15px 0 5px 0;
  color: #2e2526;
  font-size: 0.9rem;
  font-weight: 600;
}

.nosotros__beneficios p {
  color: #9b9697;
  font-weight: 300;
  font-size: 0.8rem;
}

/* Seccion Encuentranos */

.encuentranos__flex {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

.encuentranos__beneficios {
  width: 250px;
  height: auto;
  margin: 10px;
}

.encuentranos__titulo {
  padding: 15px 0 5px 0;
  color: #2e2526;
  font-size: 0.9rem;
  font-weight: 600;
}

.encuentranos__beneficios p {
  color: #9b9697;
  font-weight: 300;
  font-size: 0.8rem;
}