/* Estilos genericos */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.pesado {
  font-weight: 300;
}

/* Header */

nav {
position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 1;
}

nav ul {
  display: flex;
  float: right;
  list-style: none;
  align-items: center;
}

nav ul li {
  padding: 15px;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.banner-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/banner1.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-principal h1 {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

/* Cart */
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  min-height: 100vh;
  padding:20px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);
  z-index: 1;
  display: block;
}

.cart__title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.cart__close{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 1.2rem;
  color: black;

}

.producto {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  gap: 5px;
  margin: 15px 0px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(230, 230, 230);
}

.producto__imagen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.producto__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.producto__nombre {
  font-size: 0.8rem;
}

.producto__precio {
  font-size: 0.8rem;
}

.producto__cantidad{
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  padding: 14px 45 px;
  font-size: 16px;
  outline: none;
}

.producto__eliminar {
  color: rgb(191, 57, 57);
  cursor: pointer;
}

.trashIconSize{
  padding-top: 0;
  width: 20px;
  height: 20px;
}

.total {
  display: flex;
  justify-content: flex-end;
}

.total__title{
font-weight: 600;
font-size: 0.8rem;
text-transform: uppercase;
}

.total__price{
font-weight: 400;
font-size: 0.8rem;
}

.btn__buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  background-color: #a93012;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: #ebe6ff;
  height: 100px;
}

/* Bloque de filtros */

.categorias__filtros{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 30px 0;
}

.container__searchIcon{
  display: inline;
  position: relative;
  top: 0;
  left: 30px;
  z-index: 2;
}

.container__search {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  padding: 5px 45px;
  font-size: 16px;
  outline: none;
}

.container__search input:hover {
  border: 1px solid #fff;
  box-shadow: 0 1px 3px 3px #e7e7e7e7;
}

.container__desplegable select{
  width: 160px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
 padding-left: 5px;
  font-size: 16px;
  outline: none;
}

/* Categoría postres */

.categorias {
  margin: 2% 5%;
}

.categoria__titulo {
  font-size: 1.5rem;
}

.categoria__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
}

.categoria__border {
  width: 90vw;
  border-bottom: 3px solid #a95512;
}

.categoria__tarjeta {
  width: 317px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  margin: 15px 10px 15px 0;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);
}

.categoria__tarjeta img {
  border-radius: 10px 10px 0 0;
}

.categoria__tarjeta h3 {
  font-size: 1rem;
  padding: 10px;
}

.categoria__tarjeta p {
  font-size: 0.9rem;
  padding: 10px;
  color: #5c5c5c;
}
